body {
    background: #d7d7d7;
    padding: 0px;
    margin: 0px;
}

.top {
    padding-bottom: 20px;
}

.heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    /* color: rgb(52, 52, 52); */
    color: black;
}

.top {
    padding-top: 30px;
}

#sheadingtext {
    background-color: #d7d7d7;

}

.section {
    color: white;
    padding: 50px;
    max-width: 500px;
    margin: auto;
    background-color: grey;
    /* border: 2px solid black; */
    border-radius: 30px;
}

.btn-primary {
    width: 100%;
}

.calc {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    body {
      /* background-color: lightblue; */
    }

    .section {
        border-radius: 0px;
        max-width: 600px;
        margin: auto;
        padding-top: 20px;
    }

    .top {
        background-color: grey;
        padding-top: 40px;
    }

    .heading {
        margin-top: 10px;
        color: white;
        font-size: 35px;
    }
  }


