body {
    background: #d7d7d7;
    padding: 0px;
    margin: 0px;
}

.heading {
    text-align: center;
    font-weight: 700;
    color: rgb(52, 52, 52);
}

.top {
    padding-top: 30px;
}

#sheadingtext {
    background-color: #d7d7d7;

}

.section {
    padding: 50px;
    max-width: 500px;
    margin: auto;
}

.btn-primary {
    width: 100%;
}

