body {
    background: #d7d7d7;
    padding: 0px;
    margin: 0px;
}

.top {
    padding-bottom: 20px;
    padding-top: 50px;
}

.heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: black;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {  
   opacity: 1;
}

#sheadingtext {
    background-color: #d7d7d7;

}

.section {
    padding: 50px;
    max-width: 500px;
    margin: auto;
    font-weight: bold;
    color: rgb(52, 52, 52);
}

.rsection {
    padding: 50px;
    max-width: 500px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    background-color: grey;
    color: white;
    border-radius: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    width: 100%;
}

.calc {
    margin-top: 10px;
}


@media only screen and (max-width: 600px) {
    .section {
        border-radius: 0px;
        max-width: 600px;
        margin: auto;
        padding-top: 20px;
    }

    .top {
        padding-top: 40px;
    }

    .heading {
        margin-top: 10px;
        font-size: 35px;
    }
  }